.form-group {
    font-family: Acme;
}

.btn-secondary {
    background-color: burlywood;
    justify-content: space-between;
    justify-content: space-between;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 2rem;
    radius: 100%;
    border-radius: 100%;
    border-radius: 100;
    box-shadow: 2px 2px 2px 2px;
    border: solid;
    border: whitesmoke;
}

.EditCigar {
    background-image: url( "https://yokoent.com/images/black-smoke-png-fire-10.png");
}
