.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #E8DB7D;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h5 {
    font-size: 1.25rem;
    font-family: Acme;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Acme;
}


.btn-secondary {
    background-color:burlywood;
    justify-content: space-between;
    justify-content: space-between;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 2rem;
    radius: 100%;
    border-radius: 100%;
    border-radius: 100;
    box-shadow: 2px 2px 2px 2px;
    border: solid;
    border: whitesmoke;
}

.fa-fire {
    color: #ffa500;

}