.form-group {
    font-family: Teko;
    color: #EFEBCE;
}

.NewCigar { 
background-image: url( "https://www.thecitizen.in//NewsImages/589072king.jpg");
background-position: center center ;
background-size: cover;
background-attachment: fixed;
}

.form-control {
    margin: 0 auto;
    width: 30%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #D3D3D3;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control1 {
    margin: 0 auto;
    width: 30%;
    height: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: lightblue;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
    background-color: burlywood;
    justify-content: space-between;
    justify-content: space-between;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 2rem;
    radius: 100%;
    border-radius: 100%;
    border-radius: 100;
    box-shadow: 2px 2px 2px 2px;
    border: solid;
    border: whitesmoke;
}



