.Auth {
    display: block;
     margin: 0 auto;
        
    
}

Body {
    background-color: #EFF7FF;
    // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpxICapJYASK69-nMI_WPg22lyzq6TsV0ztW5Li2SOt30bBjD-);
}

.loginAuth {
    font-family: "Boogaloo";
    font-size: "100px";
    margin-top: 70px;
}

.btn-secondary {
    background-color: burlywood;
    justify-content: space-between;
    justify-content: space-between;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 2rem;
    radius: 100%;
    border-radius: 100%;
    border-radius: 100;
    box-shadow: 2px 2px 2px 2px;
    border: solid;
    border: whitesmoke;
}